@media only screen and (max-width: 1000px) {
    * {
        margin: 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    #header {
        height: 350px;
        width: 100vw;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 1000px) {
    #navegation ol {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
}

@media only screen and (max-width: 1000px) {
    #navegation li {
        margin-top: 5px;
   }
}

/*OBJECTIVE*/

@media only screen and (max-width: 1000px) {
    #AllObjective {
        width: 100vw;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
   }
}

@media only screen and (max-width: 1000px) {
    #my-person {
        text-align: left;
    }
}


@media only screen and (max-width: 1000px) {
    #panel {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100vw;
   }
}

@media only screen and (max-width: 1000px) {
    #my-person {
        width: auto;
        display: flex;
   }
}

@media only screen and (max-width: 1000px) {
    #my-person h2 {
        width: 95%;
   }
}

@media only screen and (max-width: 1000px) {
    #svg {
        margin: auto;
        width: 90%;
   }
}

@media only screen and (max-width: 1000px) {
    #down {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
   }
}

/*ABOUT*/

@media only screen and (max-width: 1300px) {
    #content-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
   }
}

@media only screen and (max-width: 1300px) {
    #AllAbout {
        width: 90%;
   }
}

@media only screen and (max-width: 1300px) {
    #TitleAbout {
        width: 100%;
        padding: 0 45px 0 0;
   }
}

@media only screen and (max-width: 1300px) {
    #TextMe {
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-right: 22px;
   }
}

@media only screen and (max-width: 1300px) {
    #PicMe {
        margin: 30px 0;
        top: 50%;
        left: 0;
        
   }
}

@media only screen and (max-width: 1300px) {
    #disciplines {
        width: 170px;
        max-height: 250px;
        border-bottom: 3px solid white;
        margin: auto;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .courses {
        max-width: 50px;
        max-height: 50px;
        margin: 5px 5px;
        padding: 5px;

   }
}

/*PROJECTS*/

@media only screen and (max-width: 1750px) {
    #AllProjects {
        width: 100%;
        display: flex;
        padding: 0%;
        flex-direction: column;
        height: 1700px;
       }
}

@media only screen and (max-width: 1750px) {
    #projects {
        display: flex;
        flex-direction: column;
   }
}

@media only screen and (max-width: 1750px) {
    #TitleProjects {
        margin-bottom: 10px;
   }
}

@media only screen and (max-width: 1750px) {
    #whatever {
        background-color: white;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        border: 1px solid #01A7C2;
        box-shadow: 0 2px 5px 1px #01A7C2;
        margin: 0 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1),2s;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px 0;
        padding: 10px 0;
        }   
}

@media only screen and (max-width: 1750px) {
    #seconds {
        background-color: white;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        border: 1px solid #01A7C2;
        box-shadow: 0 2px 5px 1px #01A7C2;
        margin: 0 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1),2s;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px 0;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 1750px) {
    #first {
        margin: 20px 0;
        padding: 10px 0;
   }
}


/*CONTACTS*/

@media only screen and (max-width: 600px) {
    #AllContact{
        width: 99vw;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #Contact {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    #TitleContact {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    #btnBackTop {
        left: 85%;
    }
}